$desktop-lg: 1920px;
$desktop: 1440px;
$tablet: 768px;
$mobile: 320px;

$desktop-max: 1919px;
$tablet-max: 1439px;
$mobile-max: 767px;

$from-desktop-lg: $desktop-lg;
$from-desktop: $desktop;
$from-tablet: $tablet;
$from-mobile: $mobile;

@mixin desktop-lg {
  @media (min-width: $from-desktop-lg) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $from-desktop) and (max-width: $desktop-max) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $from-tablet) and (max-width: $tablet-max) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: $from-mobile) and (max-width: $mobile-max) {
    @content;
  }
}

@mixin from-desktop-lg {
  @media (min-width: $from-desktop-lg) {
    @content;
  }
}

@mixin from-desktop {
  @media (min-width: $from-desktop) {
    @content;
  }
}

@mixin from-tablet {
  @media (min-width: $from-tablet) {
    @content;
  }
}

@mixin from-mobile {
  @media (min-width: $from-mobile) {
    @content;
  }
}

@mixin desktop-only {
  @media (min-width: $from-desktop) and (max-width: $desktop-max) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: $from-tablet) and (max-width: $tablet-max) {
    @content;
  }
}

@mixin mobile-only {
  @media (max-width: $mobile-max) {
    @content;
  }
}

// для максимальных значений
@mixin upto-desktop-lg {
  @media (max-width: $desktop-max) {
    @content;
  }
}

@mixin upto-desktop {
  @media (max-width: $tablet-max) {
    @content;
  }
}

@mixin upto-tablet {
  @media (max-width: $mobile-max) {
    @content;
  }
}