@import './typography.scss';
@import './breakpoints.scss';

.button {
    @include text-btn-m;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 0.8rem;
    transition: all 0.3s ease;
    gap: 3rem;
    padding: 0.8rem 1.5rem 1.5rem 0.8rem;
    height: 6rem;

    @include upto-desktop-lg {
        gap: 2rem;
        padding: 0.5rem 1.5rem 1rem 1.5rem;
    }

    @include desktop {
        height: 5rem;
    }

    @include tablet {
        height: 5rem;
    }

    @include mobile {
        font-size: 1.8rem;
        padding-left: 2rem;
        gap: 2.2rem;
    }

    &:hover {
        .icon-right {
            transform: rotate(45deg);
            transition: transform 0.3s ease;
        }
    }

    .icon-right {
        transition: transform 0.3s ease;
        margin-top: 2rem;
        align-self: flex-end;
    }


    &.primary-black {
        background: var(--accent-primary-default);
        color: var(--text-light-primary);

        &:hover,
        &:active {
            background: var(--accent-primary-hover);
        }
    }

    &.primary-light {
        background: var(--accent-secondary-default);
        color: var(--text-dark-primary);

        &:hover,
        &:active {
            background: var(--accent-primary-hover);
        }
    }

    &.secondary-light {
        border: 1px solid var(--stroke-dark-25);
        color: var(--text-light-primary);

        &:hover,
        &:active {
            color: var(--text-dark-primary);
            border: none;
            background: var(--accent-secondary-default);
        }
    }

    &.secondary-black {
        border: 1px solid var(--stroke-dark-25);
    }

    // для burger-кнопкок и phone
    &.burger-btn,
    &.phone-btn {
        width: 4.4rem;
        height: 4.4rem;
        border-radius: 0.8rem;
        display: flex;
        align-items: center;

        @include mobile {
            width: 5.35rem;
            height: 5.35rem;
        }

        @include from-desktop {
            display: none;
        }
    }

    &.phone-btn {
        background: var(--accent-primary-hover);
        padding: 1.3rem 1.2rem 1.1rem 1.2rem;
    }

    &.burger-btn {
        background: var(--bg-light-white);
        padding: 1.2rem;
    }
}