@import './breakpoints.scss';
@import './typography.scss';

.certificates-section {
    padding: 0 10rem 16rem 10rem;

    @include desktop {
        padding: 0 8rem 14rem 8rem;
    }

    @include tablet {
        padding: 0 4rem 7rem 4rem;
    }

    @include mobile {
        padding: 0 1.5rem 5.5rem 1.5rem;
    }

    .certificate-mobile {
        display: none;

        @include mobile {
            display: flex;
        }

        margin-top: 3rem;
    }

    .certificate-card {
        width: 56rem;
        border: 1px solid var(--stroke-dark-25);
        border-radius: 1.6rem;
        display: flex;
        flex-direction: column;
        padding: 4rem;
        justify-content: space-between;
        transition: all 1s ease;
        position: relative;
        overflow: hidden;
        user-select: none;

        img {
            display: none;
        }

        &__icon {
            svg {
                height: 5rem;

                @include desktop {
                    width: 4rem;
                    height: 4rem;
                }

                @include tablet {
                    width: 3.2rem;
                    height: 3.2rem;
                }

                @include mobile {
                    width: 24px;
                    height: 24px;
                }
            }

            @include tablet {
                width: 3.2rem;
                height: 3.2rem;
            }

            @include mobile {
                width: 24px;
                height: 24px;
                align-self: flex-start;
            }
        }

        @include desktop {
            padding: 3rem;
        }

        @include tablet {
            padding: 2rem;

            .swiper-slide.swiper-slide-active {
                width: 33.4rem;
            }
        }

        @include mobile {
            width: auto !important;
            height: 200px;
            padding: 2rem;
        }

        &:hover {
            @include from-desktop {
                background: var(--accent-primary-hover);

                .icon-right {
                    display: none;
                }

                .certificate-card__icon {
                    display: none;
                }

                .certificate-card__img {
                    width: 20.6rem;
                    height: 36.8rem;
                    display: block;
                    position: absolute;
                    animation: fadeIn 1s ease;
                    border-radius: 1.6rem;
                    right: -2.5rem;
                    top: 1.5rem;

                    @include desktop {
                        width: 17.2rem;
                        height: 24.2rem;
                        right: -6.5rem;
                        top: 6rem;
                    }
                }

                @keyframes fadeIn {
                    from {
                        opacity: 0;
                        transform: translateY(10px);
                    }

                    to {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }

        @include desktop {
            width: 41.3rem;
        }

        @include tablet {
            width: 33.4rem;
        }

        @include mobile {
            width: 29rem;
        }
    }

    .certificate-card__content {
        @include text-title-m;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .certificate-card__text {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 4rem;
            flex: 1;

            @include desktop {
                gap: 7rem;
            }

            .button {
                width: fit-content;
                border: none;
                height: auto;
                padding: 0;
                gap: 1rem;

                &:hover {
                    background: transparent;
                    color: inherit;
                }

                .icon-right {
                    align-self: auto;
                }
            }
        }

        &-title {
            width: 30rem;
            margin-bottom: 6rem;

            @include desktop {
                width: 22.8rem;
                margin-bottom: 5rem;
            }

            @include tablet {
                width: 23.2rem;
                margin-bottom: 4.5rem;
            }

            @include mobile {
                margin-bottom: 0.3rem;
                width: 19.6rem;
            }

        }
    }

    .certificates-section__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6rem;

        @include desktop {
            margin-bottom: 5rem;
        }

        @include tablet {
            margin-bottom: 5rem;
        }

        @include mobile {
            .button {
                display: none;
            }

            h2 {
                font-size: 20px;
            }

            margin-bottom: 2.5rem;
        }

        .certificates-section__title-btns {
            display: flex;
            gap: 2rem;

            &.button {
                background: transparent;

                .icon-right {
                    margin-top: 2rem;
                }

                @include desktop {
                    height: 5rem;
                }
            }
        }

        @include from-desktop {
            .certificates-section__navigation {
                width: 12rem;
                height: 6rem;
                display: flex;
                border-radius: 0.8rem;
                gap: 1.5rem;
                border: 1px solid var(--stroke-dark-25);
                justify-content: center;
                align-items: center;
                position: relative;
                padding: 1.5rem;

                &::after {
                    content: '';
                    width: 1px;
                    height: 1rem;
                    background-color: var(--stroke-dark-15);
                    position: absolute;
                    top: 0;
                }

                &::before {
                    content: '';
                    width: 1px;
                    height: 1rem;
                    background-color: var(--stroke-dark-15);
                    position: absolute;
                    bottom: 0;
                }

                @include desktop {
                    width: 9rem;
                    height: 5rem;
                    padding: 1.5rem 1rem;
                }

                .certificates-section__navigation-button--prev {
                    width: 2rem;
                    height: 2rem;
                    background-image: url('/next-icon.png');
                }

                .certificates-section__navigation-button--next {
                    width: 2rem;
                    height: 2rem;
                    background-image: url('/prev-icon.png');
                }
            }
        }
    }
}