@import './typography.scss';
@import './breakpoints.scss';

.slider-banner-container {
    position: relative;
    height: calc(100vh - 8rem);
    z-index: 1;

    @include desktop {
        height: calc(100vh - 6.6rem);
    }

    @include tablet {
        height: calc(100vh - 7.4rem);
    }

    @include mobile {
        height: calc(100vh - 7.4rem);
    }
}

.main-banner {
    position: relative;
    padding: 12rem 10rem 4rem 10rem;
    width: 100%;
    height: calc(100vh - 8rem);
    display: flex;
    gap: 6rem;
    position: absolute;
    z-index: 10;
    justify-content: space-between;

    @include desktop {
        padding: 10rem 8rem 4rem 8rem;
        height: calc(100vh - 6.6rem);
        gap: 1rem;
    }

    @include tablet {
        padding: 6rem 4rem 7rem 4rem;
    }

    @include mobile {
        padding: 3rem 1.5rem 7rem 1.5rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 4.5rem;
        width: 85rem;

        @include tablet {
            width: 69.8rem;
            height: 28rem;
            gap: 3.6rem;
        }

        @include mobile {
            // width: 29rem;
            letter-spacing: 0.275rem;
            gap: 3rem;
        }

        &-text {
            display: flex;
            gap: 3rem;
            flex-direction: column;
            color: var(--text-light-primary);
            user-select: none;

            @include desktop {
                width: 63rem;
            }

            @include tablet {
                width: 45.2rem;
                gap: 2rem;
            }

            @include mobile {
                gap: 2rem;
            }

            .main-banner__title {
                @include mobile {
                    margin-top: 1rem;
                    margin-left: 0.5rem;
                    width: auto;
                    line-height: 3.5rem;
                }
            }

            .main-banner__description {
                width: 56rem;

                @include desktop {
                    width: 41.3rem;
                }

                @include tablet {
                    width: 100%;
                }

                @include mobile {
                    width: auto;
                    margin-left: 0.3rem;
                    line-height: 2.45rem;
                    letter-spacing: 0.14rem;
                }
            }
        }

        &-btn {
            display: flex;
            width: fit-content;
            gap: 1.5rem;

            @include desktop {
                gap: 0.5rem;
            }

            @include tablet {
                gap: 1rem;
            }

            @include mobile {
                flex-direction: column;
                gap: 1rem;
            }

            .button.size-lg {
                @include desktop {
                    height: 5rem;
                }
            }
        }
    }

    &__content {
        display: flex;
        gap: 6rem;
        position: absolute;
        z-index: 10;
    }

    .form__bottom {
        @include text-body-regular-m;
    }

    .custom-link {
        @include text-body-regular-s;
        text-decoration: underline;
        color: var(--text-dark-primary);

        @include mobile {
            @include text-body-regular-m;
            font-size: 14px;
        }
    }

    &__form {
        width: 41.5rem;
        height: 55.4rem;
        border-radius: 1.6rem;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        background: var(--bg-cta);

        .button {
            margin-top: 3rem;
        }

        @include desktop {
            width: 30.5rem;
            height: 47.2rem;
            gap: 2.5rem;
            padding: 3rem 2.5rem;
            height: 46.1rem;

            .button {
                height: 5rem;
                margin-top: 0;
            }
        }

        @include tablet {
            width: 68.8rem;
            height: auto;
            padding: 3rem;
            gap: 2.5rem;
            position: absolute;
            left: 4rem;
            bottom: -24rem;

            .formkit-form {
                .form__top {
                    display: flex;
                    gap: 2rem;

                    .formkit-outer {
                        flex: 1;
                    }

                    .formkit-inner {
                        .formkit-input {
                            height: 5rem;
                        }
                    }
                }

                .form__bottom {
                    display: flex;
                    align-items: center;

                    .formkit-outer {
                        flex: 1;
                        margin-bottom: 0;
                    }

                    .button {
                        margin-top: 0;
                        width: auto;
                    }
                }
            }
        }

        @include mobile {
            position: absolute;
            width: 29rem;
            max-width: 29rem;
            min-width: 290px;
            height: auto;
            gap: 3rem;
            padding: 2rem;
            left: 2rem;
            bottom: -44rem;

            p {
                font-size: 16px;
                width: 25rem;
            }
        }

        .formkit-form {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @include desktop {
                gap: 0rem;
            }

            .button {
                @include desktop {
                    margin-top: 2rem;
                }

                width: 21.4rem;
            }

            @include mobile {
                gap: 2rem;
            }
        }

        .formkit-input {
            @include text-body-regular-s;
            background: var(--bg-light-white);
            border: 1px solid var(--stroke-dark-25);
            border-radius: 0.8rem;
            height: 6rem;
            padding: 0 2rem;
            transition: all 0.3s ease;

            @include desktop {
                height: 5rem;
            }

            @include tablet {
                padding: 0 1.5rem;
            }

            &:hover {
                background: var(--bg-dark-10);
            }
        }

        .formkit-label {
            @include text-caption-semibold-s;
            text-transform: uppercase;
        }

        .formkit-wrapper,
        .formkit-fieldset {
            max-width: 100%;
        }

        .formkit-wrapper {
            gap: 1rem;
        }
    }

    .formkit-message,
    .form-success-message {
        @include text-error-field;
        display: flex;
        align-items: center;
        gap: 1rem;
        color: var(--text-dark-secondary);
        padding: 1rem 1.5rem;
        border: 1px solid var(--stroke-dark-10);
        border-radius: 0.8rem;
        animation: fadeIn 0.3s ease;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .formkit-outer {
        margin-bottom: 2rem;

        span.formkit-label {
            @include text-body-regular-m;
            text-transform: inherit;
        }

        .formkit-message::before {
            content: '';
            display: block;
            background-image: url('/error.png');
            width: 1.4rem;
            height: 1.4rem;
            background-repeat: no-repeat;
        }
    }

    .formkit-inner {
        border-radius: 0.8rem;
    }

    .terms-checkbox {
        @include desktop {
            margin-bottom: 0rem;
        }
    }

    .formkit-input[type=checkbox]:checked+.formkit-decorator {
        appearance: none;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 0.4rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: none;

        @include upto-desktop-lg {
            width: 1.8rem;
            height: 1.8rem;
        }

        .formkit-icon {
            background-color: var(--accent-primary-default);
            color: var(--accent-secondary-default);
            border-radius: 0.4rem;
        }

        &:checked+.formkit-decorator {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }

    [data-type=checkbox] .formkit-input~.formkit-decorator {
        @include tablet {
            margin-right: 0;
        }

        height: 2.4rem;
        border-radius: 0.4rem;
        width: 2.4rem;
        cursor: pointer;

        @include tablet {
            width: 1.8rem;
            height: 1.8rem;
        }
    }

    [data-type=checkbox] .formkit-inner {
        align-self: flex-start;
    }

    .formkit-decorator-icon {
        fill: currentColor;
    }
}