@import './typography.scss';
@import './breakpoints.scss';

.header__nav {
    @include text-body-regular-m;

    .header__nav-list {
        display: flex;
        gap: 4rem;
        margin-left: 3rem;
        list-style-type: none;

        @include desktop {
            gap: 2rem;
            margin-left: 0;
        }

        @include tablet-only {
            display: none;
        }

        @include mobile-only {
            display: none;
        }

        .header__nav-item {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }
}